<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/lonetarr/IdeaProjects/TestNGPractice/src/test">
        <classes>
        <class name = "OrangeHRMLoginTest"/>
        </classes>
    </test>
</suite>